<%- include("partials/header.ejs") %>
    <div class="login-container">
        <div class="login-content">
            <div class="login-h1">
                <h1>Register</h1>
            </div>
            <div class="methods-in">
                <div class="login-fields">
                    <form action="register" method="post" class="login-form">
                        <label for="email">Email</label>
                        <input type="email" name="username" class="form-input" required>

                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-input" required>

                        <button type="submit" class="login-submit-btn">Register</button>
                    </form>
                </div>
            
            

                <div class="google-signin">
                    <a href="/auth/google" class="google-signin-btn">Sign up with Google</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementsByClassName("add-btn")[0].style.visibility = "hidden"; 
        document.getElementsByClassName("icon")[0].setAttribute("href", "/");
    </script>

<%- include("partials/footer.ejs") %>